$primaryColor: #5f9ea0 !default;
$secondColor: #daa520;

$error-1: rgb(250, 255, 112);

$neutralColor: #15181c !default;
$neutralColor-800: rgba($neutralColor, 0.8);
$neutralColor-700: rgba($neutralColor, 0.7);
$neutralColor-500: rgba($neutralColor, 0.5);
$neutralColor-300: rgba($neutralColor, 0.3);
$neutralColor-200: rgba($neutralColor, 0.2);
$neutralColor-100: rgba($neutralColor, 0.1);
$neutralColor-50: rgba($neutralColor, 0.05);
