@import './common';


*, *::before, *::after {
  box-sizing: border-box;
}

body {
	max-width: 900px;
	min-height: 100vh;

	margin: 0 auto;
	padding: 0;

	border: 1px solid $primaryColor;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	font-weight: normal;
}